<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yuan.cam.b.mapper.ComputerConfigMapper">
    <resultMap id="BaseResultMap" type="yuan.cam.b.entity.ComputerConfig">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="goods_brand" property="goodsBrand" jdbcType="VARCHAR"/>
        <result column="goods_type" property="goodsType" jdbcType="TINYINT"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="historical_lowest_price" property="historicalLowestPrice" jdbcType="DECIMAL"/>
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
        <result column="image_height" property="imageHeight" jdbcType="INTEGER"/>
        <result column="image_width" property="imageWidth" jdbcType="INTEGER"/>
        <result column="deleted" property="deleted" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="INTEGER"/>
    </resultMap>

    <select id="queryByName" resultMap="BaseResultMap" resultType="java.util.List">
        select * from computer_config where goods_name like CONCAT('%', #{goodsName}, '%')
    </select>

    <select id="randomAcquisitionGoods" resultMap="BaseResultMap" resultType="java.util.List">
        SELECT * FROM `computer_config` WHERE deleted = 0 ORDER BY RAND() LIMIT 10;
    </select>
</mapper>