spring:
#  sleuth:
#    sampler:
#      rate: 1
#      probability: 1
  zipkin:
    base-url: https://localhost:9411
  main:
    allow-bean-definition-overriding: true
  application:
    name: yuan-cam-bb
  cloud:
    config:
      discovery:
        enabled: true
#    gateway:
#      routes:
#        # 匹配指定路径的路由
#        - id: path_route
#          uri: http://www.baidu.com
#          predicates:
#            - Path=/baidu/**
#          filters:
#            - StripPrefix=1
  datasource:
    username: root
    password: root
    url: jdbc:mysql://127.0.0.1:3306/computer?serverTimezone=GMT%2B8&useUnicode=true&characterEncoding=utf-8&verifyServerCertificate=false&useSSL=false
    driver-class-name: com.mysql.cj.jdbc.Driver
ribbon:
  eureka:
    enabled: true
eureka:
  client:
    fetch-registry: false
feign:
  hystrix:
    enabled: true
  httpclient:
    connection-timeout: 10000
#以下配置已写入apollo，在此写入同样生效，但是apollo的配置会覆盖此配置
server:
  port: 10001
  serviceUrl:
    defaultZone: http://localhost:8771/eureka/,http://localhost:8761/eureka/
  instance:
    status-page-url: http://127:0.0.1:8764/swagger-ui.html#/
mybatis:
  mapper-locations: classpath*:yuan/cam/bb/mapper/**/*.xml
  type-aliases-package: yuan.cam.b.entity
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/computer?serverTimezone=GMT%2B8&useUnicode=true&characterEncoding=utf-8&verifyServerCertificate=false&useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  cloud:
    gateway:
      routes:
        - id: path_route
          uri: https://www.baidu.com
          order: 0
          predicates:
            - Path=/test
          filters:
            - StripPrefix=1
xxl:
  job:
    admin:
      addresses: http://127.0.0.1:8081/xxl-job-admin
    ### xxl-job executor address
    executor:
      ### 执行器AppName [选填]：执行器心跳注册分组依据；为空则关闭自动注册
      appname: yuan-cam-bb
      ### 执行器IP [选填]：默认为空表示自动获取IP，多网卡时可手动设置指定IP，该IP不会绑定Host仅作为通讯实用；地址信息用于 "执行器注册" 和 "调度中心请求并触发任务"；
      ip:
      ### 执行器端口号 [选填]：小于等于0则自动获取；默认端口为9999，单机部署多个执行器时，注意要配置不同执行器端口；
      port: 9999
      ### 执行器运行日志文件存储磁盘路径 [选填] ：需要对该路径拥有读写权限；为空则使用默认路径；]
      logpath: /data/applogs/xxl-job/jobhandler
      ### 执行器日志保存天数 [选填] ：值大于3时生效，启用执行器Log文件定期清理功能，否则不生效；
      logretentiondays: -1
    ### 执行器通讯TOKEN [选填]：非空时启用；
    accessToken:



#logging:
#  config: classpath:logback.xml

#spring:
#  main:
#    web-application-type: none

#canal:
#  client:
#    instances:
#      example:
#        host: 127.0.0.1
#port: 11111
#logging:
#  level:
#    root: error
#    org.springframework.web: DEBUG